* {
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New';
}
  
.header-3 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    width: 500px;
    background-color: rgb(255, 104, 104);
    border: 1px groove;
    padding: 20px;
}

.titulo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.caixa-3 {
    background-color: rgb(255, 104, 104);
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 150px;
    margin: auto;
    margin-top: 85px;
    border: 1px groove;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
}

.caixa2-3 {
    display: flex;
    width: 350px;
    background-color: rgb(255, 104, 104);
    margin: auto;
    margin-top: 15px;
    justify-content: center;
    padding: 20px;
    border: 1px groove;
}

.email-3 {
    margin-top: 15px;
    text-align: center;
    margin-bottom: 30px;
    outline: none;
    height: 30px;
    border: 1px groove;
}

.button_reset {
    margin-bottom: 15px;
    height: 35px;
    border: 1px groove;
    cursor: pointer;
}

.voltar {
    text-align: center;
    margin: auto;
    margin-top: 7px;
    margin-bottom: 7px;
}