* {
    margin: 0px;
    padding: 0px;
}
  
.header {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 90px;
    background-color: aquamarine;
    border: 1px groove;
    padding: 20px;
}

.caixa {
    background-color: aquamarine;
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 200px;
    margin: auto;
    margin-top: 85px;
    border: 1px groove;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
}

.caixa2 {
    display: flex;
    width: 350px;
    background-color: aquamarine;
    margin: auto;
    margin-top: 20px;
    justify-content: center;
    padding: 20px;
    border: 1px groove;
}

.email {
    margin-top: 15px;
    text-align: center;
    outline: none;
    height: 30px;
    border: 1px groove;
}

.senha {
    margin-top: 15px;
    text-align: center;
    outline: none;
    height: 30px;
    border: 1px groove;
}

.button_login {
    margin-top: 15px;
    margin-bottom: 15px;
    height: 35px;
    border: 1px groove;
    cursor: pointer;
}

.registrar {
    margin-left: 5px;
}

.reset {
    margin-right: 5px;
}